@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.intro__btn,
.menu__btn {
  font-size: 0.95rem;
  padding: 15px 25px;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: 0;
  border-radius: 30px;
  color: #ffffff;
  letter-spacing: 0.5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.restaurants__card {
  max-width: 335px;
  width: 100%;
  border-radius: 15px;
}
.restaurants__card a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
.restaurants__card__top {
  position: relative;
  overflow: hidden;
}
.restaurants__card__top img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__card__top__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99e2d0;
  margin: 0;
  padding: 6px 25px;
  border-radius: 3px;
  font-size: 0.9rem;
}
.restaurants__card__bottom {
  position: relative;
  background: #ffffff;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  margin: 0;
}
.restaurants__card__bottom__name {
  font-size: 1.1rem;
  margin: 0 0 8px 0;
}
.restaurants__card__bottom__location {
  margin: 0;
  font-weight: 100;
}
.restaurants__card__bottom .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.6rem;
}

.header {
  position: relative;
  padding: 20px 30px 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.header__backarrow {
  position: absolute;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.header__logo {
  margin: 0;
  padding: 0;
}
.header__logo__img {
  display: block;
  width: 160px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px 30px;
  font-weight: 300;
  color: #ffffff;
  background-color: #353535;
}
.footer__logo {
  width: 100px;
  margin-bottom: 15px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(248deg) brightness(110%) contrast(98%);
}
.footer__item {
  margin: 5px 0;
}
.footer__item--bold {
  font-weight: 400;
  margin: 5px 0;
}
.footer__item--bold .fas {
  width: 20px;
}
.footer__item--bold .fa-hands-helping {
  font-size: 13px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.location-bar {
  height: 50px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-bar__input {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
}

.intro {
  padding: 40px 30px 60px;
  background: #f5f5f5;
  text-align: center;
}
.intro__heading {
  margin: 0 0 45px 0;
}
.intro__paragraph {
  font-weight: 100;
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.how {
  padding: 30px 30px;
}
.howheading {
  margin: 0;
}
.how__list {
  counter-reset: ocpro3;
  list-style: none;
}
.how__list .fas {
  margin-right: 20px;
  color: gray;
  font-size: 1.2rem;
}
.how__list__item {
  counter-increment: ocpro3;
  padding: 30px 0 30px 30px;
  border-radius: 15px;
  background: #f5f5f5;
  margin-left: -22px;
  margin-bottom: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
.how__list__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(ocpro3);
  position: absolute;
  left: 33px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  font-weight: 100;
}
.how__list__item:hover {
  background: #e5e5e5;
  color: #9356dc;
}

.restaurants {
  background-color: #f5f5f5;
  padding: 30px 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.restaurants__heading {
  justify-self: start;
}
.restaurants__card {
  margin-bottom: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

@keyframes menu-slide-in {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes page-load {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.screen-load {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #f7f7f8;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: page-load 3s;
}
.screen-load .fa-spinner {
  color: #8a949a;
  font-size: 3rem;
  animation: spinner 1.2s steps(8) infinite;
}

.restaurant-hero {
  height: 250px;
}
.restaurant-hero__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-name {
  background: #f5f5f5;
  border-radius: 30px 30px 0 0;
  padding: 40px 20px 0;
  position: relative;
  margin-top: -30px;
}
.restaurant-name__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.restaurant-name .fa-heart {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 1.5rem;
}

.menu {
  padding: 1px 20px;
  background: #f5f5f5;
}
.menu__section {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 15px;
}
.menu__section:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 40px;
  /* Change this to whatever width you want. */
  padding-top: 5px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #99e2d0;
  /* This creates the border. Replace black with whatever color you want. */
}
.menu__item {
  position: relative;
  padding: 15px 10px;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: background 0.3s;
  animation: menu-slide-in 1.5s;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
.menu__item--header {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 6px;
}
.menu__item--descript {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}
.menu__item--price {
  position: absolute;
  right: 20px;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
.menu__item--check {
  position: absolute;
  top: 0px;
  right: -70px;
  width: 70px;
  height: 100%;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.menu__item--check .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  transition: transform 0.3s ease-in-out 0.2s;
}
.menu__item:hover .menu__item--check {
  right: 0px;
}
.menu__item:hover .menu__item--check .fa-check {
  transform: rotate(360deg);
}
.menu__item:hover .menu__item--price {
  right: 90px;
}
.menu__btn {
  padding: 15px 70px;
  display: block;
  margin: 55px auto;
}

/*# sourceMappingURL=style.css.map */
