$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$white: #ffffff;

$color-light-gray: #f5f5f5;
$color-dark-gray: #e5e5e5;

$color-footer-bg: #353535;

// Measurements
$padding-side: 30px;
$padding-side-rest: 20px;
